.formSubmit{
    margin-top: 100px;
    background-color: #00FFFF;
    padding: 20px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    
}

.formSubmit>form>input{
    margin: 6px;    
    outline: none;
    border: none;
    border-radius: 10px;
}
.formSubmit>form>button{
    transition: 0.5s;
    margin-top: 15px;
    height: 30px;
    width: 100%;
    background-color:white;
    border: 1px solid blue;
    border-radius: 10px;
    color: blue;
    font-weight: 900;
}
.formSubmit>form>button:hover{
    width: 100%;
    background-color:blue;
    color: white;
    font-weight: 900;
    cursor: pointer;
}